@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap');

*, *::after, *::before { box-sizing: border-box;}

html {
    font-size: 18px;
    scroll-behavior: smooth;
}

body {
    background-image: url(../imagens/fundo.png);
    background-attachment: fixed;
    font-family: 'Josefin Sans', sans-serif;
    color: white;

}

img { max-width: 100%;}


header { background-color: white;
         text-align: left;

}

main { width: 90;}

a { text-decoration: none;
    color: black;
}
